<%= form_with model: @cook, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title, id:"cook_title" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"cook_catch_copy" %>
  </div>

  <div class="field-detail">
    <div class="form">
      <div class="weight-bold-text">料理カテゴリー
      </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
    </div>
  </div>
  <br />
  <div class="field-detail">
    <div class="form">
      <div class="weight-bold-text">調理時間
      </div>
    <%= f.collection_select(:cooktime_id, Cooktime.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :material, "材料" %><br />
    <%= f.text_area :material, class: :form__text, id:"cook_material" %>
  </div>

  <div class="field">
    <%= f.label :making, "作り方" %><br />
    <%= f.text_area :making, class: :form__text, id:"cook_making" %>
  </div>

  <div class="field">
    <%= f.label :point, "ポイント" %><br />
    <%= f.text_area :point, class: :form__text, id:"cook_point" %>
  </div>

  <div class="field">
    <%= f.label :image, "料理の画像投稿" %><br />
    <%= f.file_field :image, id:"cook_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>