<main class="main">
  <div class="inner">
    <div class="cook__wrapper">
      <p class="cook__hedding">
        <%= @cook.title %>
      </p>
      <%= link_to @cook.user.nickname, root_path, class: :cook__user %>
        <div class="cook__manage">
        <% if user_signed_in? && current_user.id == @cook.user_id %>
          <%= link_to "編集する", edit_cook_path(@cook.id), class: :cook__btn %>
          <%= link_to "削除する", cook_path(@cook.id), method: :delete, class: :cook__btn %>
        <% end %>
        </div>
      <div class="cook__image">
        <%= image_tag @cook.image %>
      </div>
      <div class="cook__body">
        <div class="cook__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @cook.catch_copy %>
          </p>
        </div>
        <div class="cook__detail">
          <p class="detail__title">材料</p>
          <p class="detail__message">
            <%= @cook.material %>
          </p>
        </div>
        <div class="cook__detail">
          <p class="detail__title">作り方</p>
          <p class="detail__message">
            <%= @cook.making %>
          </p>
        </div>
        <div class="cook__detail">
          <p class="detail__title">料理のワンポイント</p>
          <p class="detail__message">
            <%= @cook.point  %>
          </p>
        </div>
      </div>
      <div class="cook__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@cook, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
           <% end %>  
        <% end %> 
        <ul class="comments_lists"> 
            <li class="comments_list">
              <h4>＜コメント一覧＞</h4>
              <% @comments.each do |comment| %>
                <p>
                  <%= comment.text %>
                  <%= link_to "#{comment.user.nickname}", user_path(comment.user_id), class: :comment_user %>
                </p>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
